{% extends "base.html" %}

{% block app_content %}
<h2>Background</h2>
<p>It is often said that Western countries are becoming increasingly polarised
societies, with this polarisation occuring around politically-charged
issues like climate change and immigration.</p>
<h2>Simulating social phenomena</h2>
<p>One way to understand a phenomenon of interest is through simulation. To run
a simulation involves making some good guesses about the processes that are
central to that phenomenon in order to recreate that same phenomenon at a smaller
scale. This can be done computationally, although it need not be.</p>
<h2>The dissemination of culture: local convergence and global polarisation</h2>
<p></p>
{% endblock %}
