{% extends 'bootstrap/base.html' %}

{% block title %}
  AXELROD
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-default">
    <h2>AXELROD</h2>
    <h3>An interactive simulation of social polarisation</h3>
    <br>
    <a href="/about">About</a> |
    <a href="/sim">Simulation</a>
  </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# Does this work? #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

<div class="footer">
  <p>Created by Andrew Sims</p>
  EMAIL
  GITHUB
  LINKEDIN
</div>
